{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Pagina principal' %}{% endblock %}
{% block content %}
<div class="carousel">
  <div class="slide fade">
    <img class="slide__fondo" src="{% static 'img/natural.jpg' %}" alt="natural.jpg">
    <h2 class="slide__titulo">{% trans 'Sitios Naturales' %}</h2>
    <h3 class="slide__subtitulo">{% trans 'Lugares naturales o las zonas naturales estrictamente delimitadas que tengan un valor universal excepcional desde el punto de vista de la ciencia, de la conservación o de la belleza natural' %}</h3>
    <div class="slide__indicador">
      <span class="dot" onclick="showSlides(1)"></span>
      <span class="dot" onclick="showSlides(2)"></span>
      <span class="dot" onclick="showSlides(3)"></span>
      <span class="dot" onclick="showSlides(4)"></span>
      <span class="dot" onclick="showSlides(5)"></span>
    </div>
  </div>
  <div class="slide fade">
    <img class="slide__fondo" src="{% static 'img/cultural.png' %}" alt="cultural.png">
    <h2 class="slide__titulo">{% trans 'Sitios Culturales' %}</h2>
    <h3 class="slide__subtitulo">{% trans 'Lugar relacionado con hechos históricos, actividades, asentamientos humanos y transformaciones del territorio' %}</h3>
    <div class="slide__indicador">
      <span class="dot" onclick="showSlides(1)"></span>
      <span class="dot" onclick="showSlides(2)"></span>
      <span class="dot" onclick="showSlides(3)"></span>
      <span class="dot" onclick="showSlides(4)"></span>
      <span class="dot" onclick="showSlides(5)"></span>
    </div>
  </div>
  <div class="slide fade">
    <img class="slide__fondo" src="{% static 'img/folclore.jpg' %}" alt="folclore.jpg">
    <h2 class="slide__titulo">{% trans 'Folclore' %}</h2>
    <h3 class="slide__subtitulo">{% trans 'Involucran como temática principal alguna rama del arte o tradiciones y fiestas populares de una región concreta' %}</h3>
    <div class="slide__indicador">
      <span class="dot" onclick="showSlides(1)"></span>
      <span class="dot" onclick="showSlides(2)"></span>
      <span class="dot" onclick="showSlides(3)"></span>
      <span class="dot" onclick="showSlides(4)"></span>
      <span class="dot" onclick="showSlides(5)"></span>
    </div>
  </div>
  <div class="slide fade">
    <img class="slide__fondo" src="{% static 'img/realizaciones.jpg' %}" alt="realizaciones.jpg">
    <h2 class="slide__titulo">{% trans 'Realizaciones contemporaneas' %}</h2>
    <h3 class="slide__subtitulo">{% trans 'Construcciones actuales de gran utilidad para la sociedad y que tiene un valor turistico agregado' %}</h3>
    <div class="slide__indicador">
      <span class="dot" onclick="showSlides(1)"></span>
      <span class="dot" onclick="showSlides(2)"></span>
      <span class="dot" onclick="showSlides(3)"></span>
      <span class="dot" onclick="showSlides(4)"></span>
      <span class="dot" onclick="showSlides(5)"></span>
    </div>
  </div>
  <div class="slide fade">
    <img class="slide__fondo" src="{% static 'img/eventos.jpg' %}" alt="eventos.jpg">
    <h2 class="slide__titulo">{% trans 'Eventos y Acontecimientos' %}</h2>
    <h3 class="slide__subtitulo">{% trans 'De acuerdo a la época se realizan magnifica escenas de tradición y cultura' %}</h3>
    <div class="slide__indicador">
      <span class="dot" onclick="showSlides(1)"></span>
      <span class="dot" onclick="showSlides(2)"></span>
      <span class="dot" onclick="showSlides(3)"></span>
      <span class="dot" onclick="showSlides(4)"></span>
      <span class="dot" onclick="showSlides(5)"></span>
    </div>
  </div>
</div>
<p class="titulo">{% trans 'Junín es un departamento de la República del Perú ubicado en el centro del país' %}</p>
<p class="subtitulo">{% trans 'La capital y ciudad más poblada de Junín es Huancayo, que está ubicada en el Valle del Mantaro' %}</p>

<div class="seccion">
  <div class="seccion__img">
    <img class="seccion__img__imagen" src="{% static 'img/natural.jpg' %}" alt="natural.jpg">
  </div>
  <div class="seccion__descripcion">
    <h3 class="seccion__descripcion__titulo">{% trans 'Sitios Naturales' %}</h3>
    <p class="seccion__descripcion__informacion">{% trans 'Lugares naturales o las zonas naturales estrictamente delimitadas que tengan un valor universal excepcional desde el punto de vista de la ciencia, de la conservación o de la belleza natural' %}</p>
    <a class="seccion__descripcion__button" href="{% url 'destinos' %}">{% trans 'Explorar' %}</a>
  </div>
</div>
<div class="seccion">
  <div class="seccion__descripcion">
    <h3 class="seccion__descripcion__titulo">{% trans 'Sitios Culturales' %}</h3>
    <p class="seccion__descripcion__informacion">{% trans 'Lugar relacionado con hechos históricos, actividades, asentamientos humanos y transformaciones del territorio' %}</p>
    <a class="seccion__descripcion__button" href="{% url 'destinos' %}">{% trans 'Explorar' %}</a>
  </div>
  <div class="seccion__img">
    <img class="seccion__img__imagen" src="{% static 'img/cultural.png' %}" alt="cultural.png">
  </div>
</div>
<div class="seccion">
  <div class="seccion__img">
    <img class="seccion__img__imagen" src="{% static 'img/folclore.jpg' %}" alt="folclore.jpg">
  </div>
  <div class="seccion__descripcion">
    <h3 class="seccion__descripcion__titulo">{% trans 'Folclore' %}</h3>
    <p class="seccion__descripcion__informacion">{% trans 'Involucran como temática principal alguna rama del arte o tradiciones y fiestas populares de una región concreta' %}</p>
    <a class="seccion__descripcion__button" href=".">{% trans 'Explorar' %}</a>
  </div>
</div>
<div class="seccion">
  <div class="seccion__descripcion">
    <h3 class="seccion__descripcion__titulo">{% trans 'Realizaciones Contemporaneas' %}</h3>
    <p class="seccion__descripcion__informacion">{% trans 'Construcciones actuales de gran utilidad para la sociedad y que tiene un valor turistico agregado' %}</p>
    <a class="seccion__descripcion__button" href="{% url 'destinos' %}">{% trans 'Explorar' %}</a>
  </div>
  <div class="seccion__img">
    <img class="seccion__img__imagen" src="{% static 'img/realizaciones.jpg' %}" alt="realizaciones.jpg">
  </div>
</div>
<div class="seccion">
  <div class="seccion__img">
    <img class="seccion__img__imagen" src="{% static 'img/eventos.jpg' %}" alt="eventos.jpg">
  </div>
  <div class="seccion__descripcion">
    <h3 class="seccion__descripcion__titulo">{% trans 'Eventos y Acontecimientos' %}</h3>
    <p class="seccion__descripcion__informacion">{% trans 'De acuerdo a la época se realizan magnifica escenas de tradición y cultura' %}</p>
    <a class="seccion__descripcion__button" href=".">{% trans 'Explorar' %}</a>
  </div>
</div>

<div class="separador">
  <div class="compartir">
    <h3 class="compartir__titulo">{% trans 'Comparte tu experiencia en viajes' %}</h3>
    <p class="compartir__descripcion">{% trans 'Registrate y accede a varias funciones, podrás guardar tu recurso turísticos favoritos, calificarlos en distintos criterios, escribir un comentario sobre ellos y sobre todo podrás compartir tus experiencia con otros viajeros' %}</p>
  </div>
</div>

<h4 class="recomendados__titulo">{% trans 'Recomendados para ti' %}</h4>
<div class="recomendados">
  <span class="recomendados__button--izquierda"><i class="fas fa-chevron-left"></i></span>
  <div class="recomendados__galeria">
    {% for card in recomendados %}
      <div class="card">
        <div class="card__imagen">
          <img class="card__imagen__img" src="{{ card.image }}" alt="{{ card.nombre }}">
          <h5 class="card__imagen__titulo">{{ card.nombre }}</h5>
          <p class="card__imagen__lugar">{{ card.provincia }}</p>
        </div>
        <div class="card__descripcion">
          <div class="etiqueta">
            <span class="etiqueta__icono"><i class="fas fa-tag"></i></span>
            <span class="etiqueta__clase">{{ card.categoria }}</span>
          </div>
            <div class="corazon {% if card.corazon.marcado %} corazon--active {% else %} corazon--desactive {% endif %}">
            <span class="corazon__icon" onclick="addFavoritos(event, '{{ card.nombre }}')"><i class="fas fa-heart"></i><i class="far fa-heart"></i></span>
            <span class="corazon__numero">{{ card.corazon.contador }}</span>
          </div>
          <a class="flecha" href="/recurso-turistico/{{ card.nombre }}/"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    {% endfor %}
  </div>
  <span class="recomendados__button--derecha"><i class="fas fa-chevron-right"></i></span>
</div>

{% endblock %}

{% block scripts %}
  <script>
    // Variables globales para el control del slide automatico
    let slides = document.getElementsByClassName('slide');
    let numSlide = slides.length;
    let slideAutomatico;
    let n = 1;

    // Muestra un slide y oculta los otros, donde slideIndex es la indice que le correponde al slide que se desea mostrar
    function showSlides(slideIndex) {
      let i;
      let dots = document.getElementsByClassName("dot");
  
      for (i = 0; i < slides.length; i++)
        slides[i].style.display = "none";  
      slides[slideIndex - 1].style.display = "flex";

      for (i = 0; i < dots.length; i++) {
        if(i % slides.length == slideIndex - 1){
          dots[i].className = dots[i].className + " dot--active";
        }
        else{
          dots[i].className = dots[i].className.replace(" dot--active", "");
        }
      }
      n = slideIndex;
      clearInterval(slideAutomatico);
      slideAutomatico = setInterval(cambiarSlide, 5000);
    }

    // Muestra el siguiente slide
    function cambiarSlide(){
      n += 1;
      if(n == numSlide + 1)
        n = 1;
      showSlides(n);
    }

    // Muestra el slide de la posicion 1, si el numero de slides es mayor que 1
    (numSlide > 0) && showSlides(n);

    activarRecomendaciones();
  </script>
{% endblock %}
